@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF6E7;
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
body p {
  margin: 0;
}

.header-desktop {
  height: 6rem;
}
.header-desktop .nav-native {
  background-color: #FAF6E7;
}
.header-desktop .nav-native .container-fluid {
  justify-content: space-around !important;
}
.header-desktop .nav-native .nav-link {
  padding: 1rem;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
}
.header-desktop .nav-native .logo-container {
  width: 8rem;
}
.header-desktop .nav-native .logo-container .logo-header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.header-desktop .nav-native .navbar-collapse {
  flex-grow: 0 !important;
}
.header-desktop .nav-native .right-header {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: flex;
}
.header-desktop .nav-native .right-header ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-desktop .nav-native .right-header ul li {
  list-style-type: none;
  height: -moz-fit-content;
  height: fit-content;
}
.header-desktop .nav-native .right-header ul li .boton-header {
  text-decoration: none;
  color: #3A4004;
  font-weight: 600;
  font-size: 18px;
  padding: 1em;
}
.header-desktop .nav-native .right-header ul li .suscribe {
  color: #FAF6E7;
  background-color: #3A4004;
  border-radius: 1em;
  transition: all 1s ease;
}
.header-desktop .nav-native .right-header ul li .suscribe:hover {
  color: #3A4004;
  background-color: #F2E4B9;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #677827;
  border-bottom: 3px solid #677827;
}

@media screen and (min-width: 320px) and (max-width: 1366px) {
  .header-desktop {
    height: 4.5rem;
  }
  .header-desktop .nav-native .right-header {
    display: none;
  }
}
.card-cocktail {
  width: -moz-min-content;
  width: min-content;
  display: flex;
  flex-direction: column;
  background: linear-gradient(230deg, #FAF6E7, #F2E4B9);
  padding: 1.25em;
  border-radius: 20px;
  gap: 1em;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2117647059);
}
.card-cocktail .img-container {
  width: 23.44em;
  height: auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.card-cocktail .img-container img {
  width: 100%;
  height: auto;
}
.card-cocktail .text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
}
.card-cocktail .text-container .name-and-ratio-container {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-cocktail .text-container .name-and-ratio-container .card-name {
  margin: 0px;
  font-size: x-large;
  font-weight: 600;
}
.card-cocktail .text-container .name-and-ratio-container .card-valoration img {
  vertical-align: top;
}
.card-cocktail .text-container .description-container {
  width: 100%;
  height: 6em;
}
.card-cocktail .text-container .description-container .card-text--mobile {
  visibility: hidden;
}

.card-bebidas {
  width: 20em;
  height: 16em;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 0.75em;
  background-image: url("../images/pisco-sour.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2117647059);
  transition: all 0.5s ease-out;
}
.card-bebidas .linear-gradient {
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 20%, transparent);
  display: flex;
  padding: 1.25em;
  justify-content: center;
  align-items: center;
}
.card-bebidas .linear-gradient .card-text {
  width: 100%;
  height: 100%;
  color: #FAF6E7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
}
.card-bebidas .linear-gradient .card-text h4 {
  font-size: x-large;
  font-weight: 700;
  color: #FAF6E7;
  text-align: start;
}
.card-bebidas .linear-gradient .card-text p {
  font-size: smaller;
  font-weight: 400;
}
.card-bebidas .linear-gradient .card-text .buttons-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.card-bebidas .linear-gradient .card-text .buttons-container .button {
  width: 50%;
  height: 3em;
  font-weight: 600;
  color: #FAF6E7;
  font-size: medium;
  background-color: #3A4004;
  border-radius: 0.5em;
  border: none;
}
.card-bebidas .linear-gradient .card-text .buttons-container .button:hover {
  color: #3A4004;
  background-color: #F2E4B9;
}
.card-bebidas .linear-gradient .card-text .buttons-container .primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.card-bebidas .linear-gradient .card-text .buttons-container .primary i {
  margin-top: 3px;
}
.card-bebidas .linear-gradient .card-text .buttons-container .secondary {
  width: 3em;
  color: #3A4004;
  background-color: #FAF6E7;
}

.card-bebidas:hover {
  box-shadow: 2px 5px 8px rgba(26, 26, 26, 0.609);
}

.caipirinha {
  background-image: url("../images/caipirinha.jpg");
}

.daiquiri {
  background-image: url("../images/daiquiri.jpg");
}

.mojito {
  background-image: url("../images/mojito.jpg");
}

.sotb {
  background-image: url("../images/sex-on-the-beach.jpg");
}

.negroni {
  background-image: url("../images/negroni.jpg");
}

.bloody {
  background-image: url("../images/bloody-mary.jpg");
}

.dry {
  background-image: url("../images/dry-martini.jpg");
}

.card-plan {
  width: 23em;
  height: 22em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(230deg, #FAF6E7, #F2E4B9);
  border-radius: 1em;
  text-align: start;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2117647059);
  transition: all 0.5s ease-out;
}
.card-plan .top-card h3 {
  margin: 0;
  color: #3A4004;
  font-weight: 700;
}
.card-plan .top-card .price {
  font-size: 1.2em;
  font-weight: 600;
}
.card-plan .button {
  height: 3em;
  font-weight: 600;
  color: #FAF6E7;
  font-size: medium;
  background-color: #3A4004;
  border-radius: 0.5em;
  border: none;
}
.card-plan .button:hover {
  color: #3A4004;
  background-color: #F2E4B9;
}

.card-plan:hover {
  box-shadow: -1px -1px 11px rgba(26, 26, 26, 0.4);
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .card-cocktail {
    width: 100%;
    flex-direction: row;
    padding: 0.75em;
    gap: 0.75em;
  }
  .card-cocktail .img-container {
    width: 5.5em;
    height: 5.5em;
  }
  .card-cocktail .img-container img {
    width: auto;
    height: 100%;
  }
  .card-cocktail .text-container {
    width: 61%;
    justify-content: space-around;
    gap: 0;
  }
  .card-cocktail .text-container .name-and-ratio-container .card-name {
    font-size: large;
  }
  .card-cocktail .text-container .name-and-ratio-container .card-valoration {
    width: -moz-max-content;
    width: max-content;
    height: 1em;
  }
  .card-cocktail .text-container .name-and-ratio-container .card-valoration img {
    width: 3.75em;
  }
  .card-cocktail .text-container .description-container {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .card-cocktail .text-container .description-container .card-text {
    display: none;
  }
  .card-cocktail .text-container .description-container .card-text--mobile {
    visibility: visible;
    text-align: start;
    font-size: small;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card-cocktail {
    width: 47%;
    padding: 0.75em;
  }
  .card-cocktail .img-container {
    height: 11em;
    width: 100%;
  }
  .card-cocktail .text-container .description-container {
    height: -moz-max-content;
    height: max-content;
  }
  .card-cocktail .text-container .description-container .card-text--mobile {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .card-cocktail {
    height: 23em;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-plan {
    padding: 1.25em;
    height: 19em;
    width: 19em;
  }
}
.grid-footer {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: 25% 30% 1fr;
  grid-template-rows: 40% 55% auto;
  grid-template-areas: "footer-text footer-text footer-form" "footer-marca footer-nav ." "footer-bottom footer-bottom footer-bottom";
  justify-items: center;
  align-items: center;
  margin-top: 2em;
}
.grid-footer .top-footer-text {
  grid-area: footer-text;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.grid-footer .top-footer-text h4 {
  font-size: x-large;
  font-weight: 700;
}
.grid-footer .top-footer-text p {
  font-size: medium;
}
.grid-footer .top-footer-form {
  grid-area: footer-form;
  display: flex;
  width: 100%;
}
.grid-footer .top-footer-form .form {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.grid-footer .top-footer-form .form .input {
  width: 40%;
  height: 2em;
  font-weight: 400;
  padding-inline-start: 0.5rem;
  border-radius: 10px;
  border: 1px solid #3A4004;
}
.grid-footer .top-footer-form .form .button {
  width: 15%;
  height: 2.1em;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  color: #FAF6E7;
  background-color: #3A4004;
}
.grid-footer .top-footer-form .form .button:hover {
  color: #3A4004;
  background-color: #F2E4B9;
}
.grid-footer .mid-footer-marca {
  grid-area: footer-marca;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.grid-footer .mid-footer-marca .logo-container {
  width: 7rem;
}
.grid-footer .mid-footer-marca .logo-container img {
  width: 100%;
}
.grid-footer .mid-footer-marca .mid-footer-redes {
  display: flex;
  flex-direction: column;
}
.grid-footer .mid-footer-marca .mid-footer-redes .redes-comment {
  font-size: large;
  font-weight: 600;
}
.grid-footer .mid-footer-marca .mid-footer-redes .icons-redes {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}
.grid-footer .mid-footer-marca .mid-footer-redes .icons-redes .icon-container {
  width: 2.2rem;
}
.grid-footer .mid-footer-marca .mid-footer-redes .icons-redes .icon-container img {
  width: 100%;
}
.grid-footer .mid-footer-nav {
  grid-area: footer-nav;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.grid-footer .mid-footer-nav .nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.grid-footer .mid-footer-nav .nav-items .title-nav {
  font-weight: 700;
}
.grid-footer .mid-footer-nav .nav-items a {
  text-decoration: none;
  color: #3A4004;
}
.grid-footer .mid-footer-nav .nav-items p {
  color: #3A4004;
}
.grid-footer .bottom-footer {
  width: 100%;
  grid-area: footer-bottom;
  display: flex;
  justify-content: space-evenly;
}
.grid-footer .bottom-footer .footer-copyright {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .grid-footer {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3em 1fr 1fr 1fr;
    grid-template-areas: "footer-text" "footer-form" "footer-marca" "footer-nav" "footer-bottom";
    grid-gap: 1.25em;
  }
  .grid-footer .top-footer-text {
    text-align: center;
  }
  .grid-footer .top-footer-text h4 {
    font-size: medium;
  }
  .grid-footer .top-footer-text p {
    font-size: small;
  }
  .grid-footer .top-footer-form .form .input {
    width: 57%;
  }
  .grid-footer .top-footer-form .form .button {
    width: 32%;
  }
  .grid-footer .mid-footer-marca {
    align-items: center;
    gap: 1em;
  }
  .grid-footer .mid-footer-marca .mid-footer-redes {
    gap: 0.5em;
    text-align: center;
  }
  .grid-footer .mid-footer-marca .mid-footer-redes .redes-comment {
    font-size: small;
  }
  .grid-footer .mid-footer-nav {
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1em;
  }
  .grid-footer .mid-footer-nav .nav-items {
    width: 100%;
    gap: 0.25rem;
  }
  .grid-footer .mid-footer-nav .nav-items p {
    font-size: small;
  }
  .grid-footer .bottom-footer {
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1em;
  }
  .grid-footer .bottom-footer .footer-copyright {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .grid-footer .bottom-footer .footer-copyright p {
    font-size: small;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1700px) {
  .grid-footer {
    grid-template-columns: 25% 39% 1fr;
  }
  .grid-footer .top-footer-form .form .input {
    width: 55%;
  }
  .grid-footer .top-footer-form .form .button {
    width: 25%;
  }
}
.main-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-image: url("../images/image-main-content.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-content .img-container {
  display: none;
}
.main-content .linear-gradient {
  width: 100%;
  height: 49rem;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 20%, transparent);
}
.main-content .linear-gradient .main-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 9em;
}
.main-content .linear-gradient .main-text .heading-tag-main {
  width: 62%;
  font-size: 3em;
  font-weight: bolder;
  color: #FAF6E7;
}
.main-content .linear-gradient .main-text .description-main {
  width: 76%;
  font-weight: 400;
  color: #FAF6E7;
  font-size: 1.1em;
}

.boton-cta-main {
  padding: 1em;
  background-color: #3A4004;
  border-radius: 1em;
  transition: all 1s ease;
}
.boton-cta-main .text-boton {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FAF6E7;
}

.boton-cta-main:hover {
  background-color: #F2E4B9;
}
.boton-cta-main:hover .text-boton {
  color: #3A4004;
}

.section {
  margin: 3em 5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.section .section-title {
  font-size: 2.2em;
  font-weight: 700;
  color: #3A4004;
}
.section h3 {
  font-size: 1.75rem;
  font-weight: 600;
}
.section .section-text {
  font-size: 1.1em;
  font-weight: 400;
}
.section .cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5em;
  margin-top: 0.5em;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .main-content {
    background-image: none;
    height: -moz-max-content;
    height: max-content;
  }
  .main-content .img-container {
    display: block;
    width: 100vw;
  }
  .main-content .img-container img {
    width: 100%;
  }
  .main-content .linear-gradient {
    height: -moz-max-content;
    height: max-content;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2em 0em;
  }
  .main-content .linear-gradient .main-text {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  .main-content .linear-gradient .main-text .heading-tag-main {
    color: #3A4004;
    font-size: 2rem;
    margin: 0;
  }
  .main-content .linear-gradient .main-text .description-main {
    color: #3A4004;
    font-size: 1em;
  }
  .main-content .linear-gradient .main-text .boton-cta-main {
    padding: 0.75em;
  }
  .main-content .linear-gradient .main-text .boton-cta-main .text-boton {
    font-size: 16px;
  }
  .section {
    margin: 0 1.1em;
    text-align: center;
    gap: 1em;
  }
  .section .section-title {
    font-size: 1.6rem;
  }
  .section h3 {
    font-size: 1.25rem;
  }
  .section .section-text {
    font-size: 0.9em;
  }
  .section .cards-container {
    gap: 0.75em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-content .linear-gradient {
    height: 32rem;
  }
  .main-content .linear-gradient .main-text {
    width: 100%;
    margin-left: 3rem;
  }
  .main-content .linear-gradient .main-text .heading-tag-main {
    width: 61%;
  }
  .main-content .linear-gradient .main-text .description-main {
    width: 63%;
  }
  .section {
    margin: 2em 4em;
  }
  .section .cards-container {
    justify-content: center;
    gap: 1em 2em;
  }
}
.container-flex {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  align-items: center;
}
.container-flex .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.container-flex .column .text-container {
  width: 56%;
}
.container-flex .column .text-container .section-text {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}
.container-flex .column .redes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}
.container-flex .column .redes-container .contact-row {
  display: flex;
  gap: 1em;
}
.container-flex .column .redes-container .contact-row .title {
  font-weight: 700;
  font-size: medium;
  color: #3A4004;
}
.container-flex .column .form {
  width: 50%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.container-flex .column .form .input {
  height: 2em;
  font-weight: 400;
  padding-inline-start: 0.5rem;
  border-radius: 10px;
  border: 1px solid #3A4004;
}
.container-flex .column .form .message {
  height: -moz-max-content;
  height: max-content;
}
.container-flex .column .form .button {
  height: 2.1em;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  color: #FAF6E7;
  background-color: #3A4004;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section .container-flex {
    flex-wrap: wrap;
    margin: 0;
    gap: 2em;
  }
  .section .container-flex .column {
    gap: 1.25em;
  }
  .section .container-flex .column .text-container {
    width: 100%;
  }
  .section .container-flex .column .text-container .section-text {
    font-size: 1em;
  }
  .section .container-flex .column .redes-container {
    gap: 1.5em;
  }
  .section .container-flex .column .redes-container .contact-row {
    text-align: start;
  }
  .section .container-flex .column .redes-container .contact-row .img-container {
    width: 2em;
  }
  .section .container-flex .column .redes-container .contact-row .img-container img {
    width: 100%;
  }
  .section .container-flex .column .redes-container .contact-row .contact-redes p {
    font-size: small;
  }
  .section .container-flex .column .form {
    width: 75%;
  }
}
.row-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  background: linear-gradient(0deg, #FAF6E7, #F2E4B9);
  padding: 2em 0;
  justify-content: center;
}
.row-container .section {
  margin: 0;
  width: 30%;
  justify-content: center;
}
.row-container .img-container {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
.row-container .img-container img {
  width: 100%;
}

.nosotros {
  text-align: center;
  gap: 2em;
}
.nosotros .mision-vision {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.nosotros .mision-vision .img-container {
  width: 27em;
  height: 35em;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
  align-items: center;
}
.nosotros .mision-vision .img-container img {
  width: 100%;
}
.nosotros .mision-vision .mision {
  width: 30%;
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
.nosotros .context-container {
  display: flex;
  justify-content: space-evenly;
}
.nosotros .context-container .flex-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: 1em;
  gap: 0.5em;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.2117647059);
}
.nosotros .context-container .flex-item .text-modif {
  color: #FAF6E7;
}
.nosotros .context-container .flex-item h4 {
  font-size: 25px;
  font-weight: 600;
}
.nosotros .context-container .problema {
  background-color: #F2E4B9;
}
.nosotros .context-container .problema h4 {
  color: #3A4004;
}
.nosotros .context-container .objetivo {
  background-color: #677827;
}
.nosotros .context-container .objetivo h4 {
  color: #F2E4B9;
}
.nosotros .context-container .solucion {
  background-color: #3A4004;
}
.nosotros .context-container .solucion h4 {
  color: #F2E4B9;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .row-container {
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
  }
  .row-container .section {
    width: 100%;
  }
  .row-container .img-container {
    width: 100%;
  }
  .nosotros {
    margin-top: 2em;
  }
  .nosotros .mision-vision {
    flex-direction: column;
    align-items: center;
  }
  .nosotros .mision-vision .mision {
    width: 100%;
    padding: 0;
  }
  .nosotros .mision-vision .img-container {
    width: 100%;
    height: 25em;
  }
  .nosotros .context-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .nosotros .context-container .flex-item {
    width: 100%;
    padding: 1.25em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nosotros .mision-vision .img-container {
    width: 27em;
    height: 35em;
  }
}
.section-cocktails {
  display: flex;
}
.section-cocktails .section-title--2 {
  font-size: 1.75em;
  font-weight: 600;
  color: #3A4004;
}
.section-cocktails .container-sb {
  width: 80%;
  display: flex;
  justify-content: center;
}
.section-cocktails .container-sb .search-bar {
  width: 25em;
}
.section-cocktails .container-sb .search-bar .input {
  height: 2em;
  font-weight: 400;
  padding-inline-start: 0.5rem;
  border-radius: 0.5em;
  border: 1px solid #3A4004;
}
.section-cocktails .container-sb .search-bar .button {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #FAF6E7;
  background-color: #3A4004;
}

.content-bebidas {
  display: flex;
  gap: 2em;
}
.content-bebidas .aside {
  padding: 2em;
  border-right: 3px solid #3A4004;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 11px;
  flex-direction: column;
}
.content-bebidas .aside .section-title--3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #3A4004;
}
.content-bebidas .aside .dropdown-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.content-bebidas .aside .dropdown-buttons .btn-secondary {
  background-color: #F2E4B9;
  color: #3A4004;
  border-color: #3A4004;
}
.content-bebidas .aside .dropdown-buttons .dropdown-menu {
  background-color: #F2E4B9;
}
.content-bebidas .cards-container--b {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}

.existencia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em;
  background-color: #dbd7ca;
  margin-bottom: 1em;
  border-radius: 11px;
  border-left: solid 3px #3a4004;
}
.existencia i {
  color: #3A4004;
  margin-right: 0.5em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section {
    gap: 1.25em;
  }
  .section .section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 0;
  }
  .section .section .section-cocktails {
    flex-direction: column;
  }
  .section .section .section-cocktails .section-title--2 {
    font-size: 1.5em;
  }
  .section .section .section-cocktails .container-sb {
    width: 100%;
  }
  .section .section .content-bebidas {
    flex-direction: column;
    gap: 1em;
  }
  .section .section .content-bebidas .aside {
    width: 100%;
    border-right: none;
  }
  .section .section .content-bebidas .aside .section-title--3 {
    font-size: 1.1em;
  }
  .section .section .content-bebidas .aside .dropdown-buttons {
    width: 100%;
    align-items: center;
  }
  .section .section .content-bebidas .aside .dropdown-buttons .btn-group {
    width: 60%;
  }
  .section .section .content-bebidas .cards-container--b {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .section .section {
    margin: 2em 0em;
  }
  .section .section .section-cocktails {
    flex-direction: row;
  }
  .section .section .content-bebidas {
    flex-direction: row;
  }
  .section .section .content-bebidas .aside .dropdown-buttons {
    width: 11em;
    align-items: flex-start;
  }
}
.planes {
  gap: 1.5em;
}
.planes .section-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75em;
}
.planes .section-content .section-title--2 {
  font-size: 1.75em;
  font-weight: 600;
  color: #3A4004;
}
.planes .section-content .cards-container--p {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .planes .section-content .section-title--2 {
    font-size: 1.5em;
  }
  .planes .section-content .cards-container--p {
    width: 100%;
  }
}
.modales {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.7411764706);
  display: flex;
  visibility: hidden;
}
.modales .modal-contenido {
  width: 90%;
  display: flex;
  max-width: 550px;
  max-height: 90%;
  background-color: #FAF6E7;
  margin: auto;
  border-radius: 22px;
  padding: 1em 3em;
  gap: 1.75em;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modales .modal-contenido img {
  width: 13em;
}
.modales .modal-contenido .modal-title {
  font-size: xx-large;
  font-weight: 700;
  color: #3A4004;
  margin-bottom: 5px;
}
.modales .modal-contenido p {
  font-size: medium;
}
.modales .modal-contenido .modal-botones {
  display: flex;
  flex-direction: column;
}
.modales .modal-contenido .modal-botones .btn {
  padding: 0.75em 1em;
  background-color: #FAF6E7;
  border-radius: 1em;
}
.modales .modal-contenido .modal-botones .prim {
  background-color: #3A4004;
  color: #FAF6E7;
  box-shadow: 1px 1px 7px -1px rgba(17, 17, 17, 0.7411764706);
  margin-bottom: 5px;
}

body {
  margin: 0;
}

.mainSign {
  width: 100%;
  height: 100%;
  background-image: url("../images/image-main-content.jpg");
  background-repeat: no-repeat;
}
.mainSign .linearGradient {
  padding: 1em 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.75) 45%, transparent);
}
.mainSign .linearGradient .flexMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em 0;
}
.mainSign .linearGradient .flexMain img {
  width: auto;
  height: 4em;
  margin-bottom: 1em;
}
.mainSign .linearGradient .flexMain .googleDiv {
  width: 45%;
  border: 1px solid #3A4004;
  height: 2.5rem;
  margin-right: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
.mainSign .linearGradient .flexMain .googleDiv .google-logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  margin-bottom: 0;
}
.mainSign .linearGradient .flexMain .googleDiv .google-logo .google-text {
  font-size: 14px;
  font-weight: 600;
  color: #3A4004;
}
.mainSign .linearGradient .flexMain .divider {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSign .linearGradient .flexMain .divider .divider-left {
  margin-right: 1rem;
}
.mainSign .linearGradient .flexMain .divider .divider-center {
  color: #3A4004;
  font-size: 16px;
}
.mainSign .linearGradient .flexMain .divider .divider-right {
  margin-left: 1rem;
}
.mainSign .linearGradient .flexMain .formSign {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}
.mainSign .linearGradient .flexMain .formSign .groupForm {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.mainSign .linearGradient .flexMain .formSign .groupForm input {
  width: 100%;
  height: 2.8em;
  border-radius: 5px;
  border: 0.25px solid #3A4004;
  background-color: rgba(255, 255, 255, 0.7);
}
.mainSign .linearGradient .flexMain .formSign button {
  width: 45%;
  padding: 0.75em 1em;
  background-color: #FAF6E7;
  border-radius: 5px;
  border: none;
  background-color: #3A4004;
  color: #FAF6E7;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}
.mainSign .linearGradient .flexMain .tyc {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
  gap: 1em;
}

.divider-left,
.divider-right {
  width: 100%;
  border-bottom: 0.5px solid #3A4004;
}

.avisoError {
  color: #FF0000;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */