.header-desktop {
    height: 6rem;

    // nav bar //

    .nav-native {
        background-color: $colorsecundario;

        // reset bts //

        .container-fluid {
            justify-content: space-around!important;
        }
        
        .nav-link {
            padding: 1rem;
            color: $colorprimario;
            font-weight: 600;
            font-size: 18px;
        }
        
        // logo //
    
        .logo-container {
            width: 8rem;
    
            .logo-header {
                width: 100%;
                height: max-content;
            }
        }

        .navbar-collapse {
            flex-grow: 0!important;
        }

        // button right //
    
        .right-header {
            width: fit-content;
            height: 100%;
            display: flex;
    
            ul {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                // reset bts //

                margin: 0;
    
                li {
                    list-style-type: none;
                    height: fit-content;
    
                    .boton-header {
                        text-decoration: none;
                        color: $colorprimario;
                        font-weight: 600;
                        font-size: 18px;
                        padding: 1em;
                    }
    
                    // button cta //
                    
                    .suscribe {
                    color: $colorsecundario;
                    background-color: $colorprimario;
                    border-radius: 1em;
                    }
                }
            }
        }
    }
}

// NEDIA QUERIES //

    // breakpoint 1: 320 //

    @media screen and (min-width: 320px) and (max-width: 1366px) {
        
        .header-desktop {
            
            height: 4.5rem;
            
            .nav-native {

                .right-header {
                    display: none;
                }
            }
        }
    }