// variables globales //

    // color primario //
    
    $colorprimario: #3A4004;

    // color secundario //

    $colorsecundario: #FAF6E7;

    // color acento //

    $coloracento: #F2E4B9;

// map get estilos //

$estilos: (
    shadow-card: 2px 3px 15px #00000036,
);

// mixins //

@mixin button-primary {
    font-weight: 600;
    color: $colorsecundario;
    font-size: medium;
    background-color: $colorprimario;
    border-radius: 0.5em;
    border: none;
}

@mixin button-primary--hover{
    color: $colorprimario;
    background-color: $coloracento;
}