
// main section //

.main-content {
    width: 100%;
    height: max-content;
    background-image: url("../images/image-main-content.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;

    .img-container {
        display: none;
    }

    .linear-gradient {
        width: 100%;
        height: 49rem;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 20%, transparent);
        
        .main-text {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;
            margin-left: 9em;
    
            .heading-tag-main {
                width: 62%;
                font-size: 3em;
                font-weight: bolder;
                color: $colorsecundario;
            }
                
            .description-main {
                width: 76%;
                font-weight: 400;
                color: $colorsecundario;
                font-size: 1.1em;
            }
        }

    }
}

// boton cta//

.boton-cta-main {
    padding: 1em;
    background-color: $colorprimario;
    border-radius: 1em;
    
    // anchord //

    .text-boton {
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: $colorsecundario;
    }
}

// categories //

.categories {
    margin: 3em 5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .title-categories {
        font-size: 2.2em;
        font-weight: 700;
        color: $colorprimario;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 600;
    }

    .categories-text {
        font-size: 1.1em;
        font-weight: 400;
    }

    .cards-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
        margin-top: 0.5em;
    }
}

// NEDIA QUERIES //

    // breakpoint 1: 320 //

    @media screen and (min-width: 320px) and (max-width: 425px){
        .main-content {
            background-image: none;
            height: max-content;

            .img-container {
                display: block;
                width: 100vw;

                img {
                    width: 100%;
                }
            }

            .linear-gradient {
                height: max-content;
                background: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 2em 0em;

                
                .main-text {
                    width: 100%;
                    height: max-content;
                    padding: 0;
                    margin: 0;
                    align-items: center;
                    text-align: center;
                    gap: 1.5rem;

                    .heading-tag-main {
                        color: $colorprimario;
                        font-size: 2rem;
                        margin: 0;
                    }

                    .description-main {
                        color: $colorprimario;
                        font-size: 1em;
                    }

                    .boton-cta-main {
                        padding: 0.75em;

                        .text-boton {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .categories {
            margin: 0 1.1em;
            text-align: center;
            gap: 1em;

            .title-categories {
                font-size: 1.6rem;
            }

            h3 {
                font-size: 1.25rem;
            }

            .categories-text {
                font-size: 0.90em;
            }

            .cards-container {
                gap: 0.75em;
            }
        }
    }